.bg-akj {
  background-color: #56656b;
}
.bg-akj:hover {
  background-color: #47535a;
}
.bg-fond{
  background-color: #98FF98;
}



@media print {
  @page {
    /* margin: 20mm 8mm 20mm 8mm !important; */
    margin: 8mm 8mm 8mm 8mm !important;
  }

  .print-container table tbody tr {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .print-container table th,
  .print-container table td {
    position: static !important;
  }

  .print-container table thead th:first-child,
  .print-container table tbody td:first-child {
    width: 120px !important;
    max-width: 120px !important;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
}



/* thead th {
  box-shadow: 
    inset 0 -2px 0 #1f2937,   
    inset -1px 0 0 #4b5563;   
}

thead th:first-child {
  box-shadow:
    inset 0 -2px 0 #1f2937,
    inset -1px 0 0 #4b5563,
    inset 2px 0 0 #1f2937;    
}


thead tr:first-child th {
  box-shadow:
    inset 0 2px 0 #1f2937,
    inset 0 -2px 0 #1f2937,
    inset -1px 0 0 #4b5563;
}

thead tr:first-child th:first-child {
  box-shadow:
    inset 2px 2px 0 #1f2937,
    inset 0 -2px 0 #1f2937,
    inset -1px 0 0 #4b5563;
} */


/* Styles spécifiques au tableau des présences */
.attendance-table thead th {
  box-shadow: 
    inset 0 -2px 0 #1f2937,   
    inset -1px 0 0 #4b5563;   
}

.attendance-table thead th:first-child {
  box-shadow:
    inset 0 -2px 0 #1f2937,
    inset -1px 0 0 #4b5563,
    inset 2px 0 0 #1f2937;    
}

.attendance-table thead tr:first-child th {
  box-shadow:
    inset 0 2px 0 #1f2937,
    inset 0 -2px 0 #1f2937,
    inset -1px 0 0 #4b5563;
}

.attendance-table thead tr:first-child th:first-child {
  box-shadow:
    inset 2px 2px 0 #1f2937,
    inset 0 -2px 0 #1f2937,
    inset -1px 0 0 #4b5563;
}